.gh-account0-style { border-top: 2px solid rgb(9,235,22); }
.gh-account1-style { border-top: 2px solid rgb(255,165,0); }
.gh-account2-style { border-top: 2px solid rgb(0, 0, 0); }
.gh-account3-style { border-top: 2px solid rgb(0, 0, 0); }
.gh-account4-style { border-top: 2px solid rgb(0, 0, 0); }
.gh-account5-style { border-top: 2px solid rgb(0, 0, 0); }

